<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.idnow"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk />

    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--android:name="android.support.multidex.MultiDexApplication"-->

    <!-- The sample app inherits from the theme included in the SDK, see styles.xml -->
    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:label="IDnow Sample App"
        android:icon="@drawable/idnow_avatar"
        tools:replace="android:label,android:name"
        android:largeHeap="true"
        android:extractNativeLibs="true">
        <activity
            android:name="de.idnow.sampleproject.MainActivity"
            android:label="IDnow Sample App"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
